@import (reference) '~@pinpt/uic.next/theme.less';

.Location {
	display: flex;
	justify-content: center;
	align-items: stretch;
	padding: 4.0rem;
	
	.Button {
		background: @White;
		border: @BorderStyle;
		font-size: 1.3rem;
		padding: 4.0rem;
		text-align: center;
		max-width: 300px;
		margin: 0 20px;
		cursor: pointer;

		.Icon {
			font-size: 3.0rem;
			margin: 0 0 2.0rem;
			color: @Mono400;
		}

		&:hover {
			background: @Mono100;

			.Icon {
				color: @Blue500;
			}
		}
	}
}